<!-- filepath: /csce431/book_collection_app/app/views/user_books/new.html.erb -->
<p id="notice"><%= notice %></p>

<h1>New User Book</h1>

<%= form_with(model: @user_book, local: true) do |form| %>
  <% if @user_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_book.errors.count, "error") %> prohibited this user_book from being saved:</h2>

      <ul>
        <% @user_book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, @users, :id, :username, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.collection_select :book_id, @books, :id, :title, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', user_books_path %>